*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: skyblue;
    padding: 12px 6px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: black;
    opacity: 0.5;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: dodgerblue;
    background-color: skyblue;
}

.weather-body img{
    width: 60%;
}

.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-box{
    margin-block: 20px;
    text-align: center;

}

.weather-box .temprature{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.weather-box .temprature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 500;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

